<div class="container">
  <h2>Songs of <%= @artist.name %></h2>


    <div class="container">
        <%= image_tag @artist.photo.image, class: "artist-img-show pull-right"%>
        <br>
            <% if @artist.songs.any? %>
              <ul class="list-group">
              <% @artist.songs.each do |song| %>
                <li class="success">
                  <h4><%= song.name%>
                    <%= link_to "X", artist_song_path(@artist, song), remote: true, method: :delete %></h4>
                </li>
              <%end%>
              </ul>
            <%else%>
            <h3>There are no songs for this artist.</h3>
            <%end%>
    </div>

    <%= render "songs/form" %>

    <h4><a href="#" id="clean-up">Delete all songs</a></h4>

    <hr>

    <div class="btn btn-default">
      <h5><%= link_to "Delete #{@artist.name} from Codaisseurify", artist_path(@artist), method: :delete, data: {confirm: "Are you sure you want to delete #{@artist.name} from this website?"}%></h5>
    </div>

    <div class="btn btn-default">
      <h5><%= link_to "Back to all artists", root_path %></h5>
    </div>
</div>

<script type="text/javascript">

function deleteAllSongs(event) {
  event.preventDefault();
  $(".success").remove();
}

$(document).ready(function() {
  $("#clean-up").bind('click', deleteAllSongs);
});



</script>
